#google-maps-template header {
	background-image: url('../images/marker.png'), url('../images/zoom-2.png'), url('../images/zoom-1.png'), url('../images/map.gif');
	background-size: 37px 34px, 21px 14px, 22px 181px, 1000px 440px;
	background-position: 50% 48%, 5% 25%, 5% 15%, 50% 50%;
	-webkit-transition: all 0.2s ease;
	   -moz-transition: all 0.2s ease;
	    -ms-transition: all 0.2s ease;
	     -o-transition: all 0.2s ease;
	        transition: all 0.2s ease;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0 -15px 50px rgba(0, 0, 0, .2) inset;
	   -moz-box-shadow: 0 -15px 50px rgba(0, 0, 0, .2) inset;
	    -ms-box-shadow: 0 -15px 50px rgba(0, 0, 0, .2) inset;
	     -o-box-shadow: 0 -15px 50px rgba(0, 0, 0, .2) inset;
	        box-shadow: 0 -15px 50px rgba(0, 0, 0, .2) inset;
}
#google-maps-template:hover header {
	background-size: 37px 34px, 21px 14px, 22px 181px, 1110px 488px;
	background-position: 50% 48%, 5% 20%, 5% 15%, 50% 50%;
}

@media only screen and (max-width: 480px) {
	#google-maps-template header {
		background-size: 18.5px auto, 10.5px auto, 11px auto, 500px auto;
	}
	#google-maps-template:hover header {
		background-size: 18.5px auto, 10.5px auto, 11px auto, 555px auto;
	}
}