---
layout: default
title : Posts
section: home
---

			<section id="posts">
				{% for post in paginator.posts %}
				<!-- {{ post.title }} -->
				<article id="{{ post.url | remove: '/' }}">
					<header>
						<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
						<time datetime="{{ post.date | date: "%d-%m-%Y" }}">{{ post.date | date: "%A %d %B %Y" }}</time>
					</header>
					<div class="post-content">
{% if post.postSummary %}
	{% include content/excerpt.html %}
{% else %}
	{{ post.content }}
{% endif %}
					</div><!-- .post-content -->
				</article>
				{% endfor %}

				<nav class="pagination">
{% include content/pagination.html %}
				</nav>

			</section>