---
layout: default
title : Posts
section: home
---

			<section class="posts">
				{% for post in paginator.posts %}
				<!-- {{ post.title }} -->
				<article class="{{ post.url | remove: '/' }}">
					<header>
						<h1><a class="post-title" href="{{ post.url }}">{{ post.title }}</a></h1>
						<time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%A %d %B %Y" }}</time>
					</header>
					<div class="post-content">
{% if post.postSummary %}{{ post.postSummary }}
<p class="actions">
	<a href="{{ post.url }}#more" class="button">Read More</a>
</p>
{% else %}{{ post.content }}{% endif %}
					</div><!-- .post-content -->
				</article>
				{% endfor %}

				<nav class="pagination">
{% include content/pagination.html %}
				</nav>

			</section>