/*---------
  Buttons
-----------*/
.button {
  position: relative;
  display: inline-block;
  background-color: #aaa;
  border-radius: 1px;
  color: #fff;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 11px 15px 12px;
  vertical-align: top;
  -webkit-transition: background-color .4s ease;
     -moz-transition: background-color .4s ease;
      -ms-transition: background-color .4s ease;
       -o-transition: background-color .4s ease;
          transition: background-color .4s ease;
}

.button-icon {
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.button:not(.disabled):hover {
  color: #fff;
  background-color: #777;
  -webkit-transition: background-color .2s ease;
     -moz-transition: background-color .2s ease;
      -ms-transition: background-color .2s ease;
       -o-transition: background-color .2s ease;
          transition: background-color .2s ease;
}

.button.disabled {
  background-color: #d9d9d9;
  pointer-events: none;
}