/* Social Icons */
.social-links li,
.social-links .button {
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  background-size: 96px auto;
}

.social-links .button {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
     -moz-transition: opacity 0.5s ease;
      -ms-transition: opacity 0.5s ease;
       -o-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
}

.social-links .button:hover {
  opacity: 1;
}


.social-links .social-github {
  background-position: 0px -32px;
}
.social-links .social-github .button {
  background-position: 0px 0px;
}
.social-links .social-twitter {
  background-position: -32px -32px;
}
.social-links .social-twitter .button {
  background-position: -32px 0px;
}
.social-links .social-rss {
  background-position: -64px -32px;
}
.social-links .social-rss .button {
  background-position: -64px 0px;
}