/*
 * archive.css
 * Styles specific to the archive section
 * ======================================
 */

#archive {
	padding: 0 4% 60px;
}

#archive li {
	list-style: none;
	margin-bottom: 1.5em;
}

#archive time {
	float: left;
	width: 60px;
	margin-top: 5px;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	color: #ccc;
	-webkit-transition: color .4s ease;
	   -moz-transition: color .4s ease;
	    -ms-transition: color .4s ease;
	     -o-transition: color .4s ease;
	        transition: color .4s ease;
}

#archive a:hover time {
	color: #333;
	-webkit-transition: color .2s ease;
	   -moz-transition: color .2s ease;
	    -ms-transition: color .2s ease;
	     -o-transition: color .2s ease;
	        transition: color .2s ease;
}

#archive time span {
	font-size: 18px;
	line-height: 18px;
}

#archive h2 {
	display: table;
	font-size: 2.375em;
	line-height: 1em;
}
