/*
 * container.css
 * Styles the container wich surounds the site
 * ===========================================
 */

.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 0 20px;
}

/*------------------------*\
  Portrait iPad and larger
\*------------------------*/
@media only screen and (min-width: 481px) {

  .container {
    padding: 20px 20px 60px;
  }

  /* White page fade overlays */
  .container:after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    pointer-events: none;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
    background-image:    -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
    background-image:     -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
    background-image:      -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
    background-image:         linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
  }

}