/*
 * global.css
 * Styles generic elements which appear on some pages
 * but are not part of the site layout
 * ==================================================
 */

/*----------------
	Layout Helpers
------------------*/

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* Very basic (and incomplete) grid */
.col-1 { width: 8.333%; }
.col-2 { width: 16.666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.333%; }
.col-6 { width: 50%; }
.col-9 { width: 75%; }
.col-12 { width: 100%; }


/*---------
	Buttons
-----------*/

section .button {
	position: relative;
	display: inline-block;
	background-color: #aaa;
	border-radius: 1px;
	color: #fff;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 11px 15px 14px;
	-webkit-transition: background-color .4s ease;
	   -moz-transition: background-color .4s ease;
	    -ms-transition: background-color .4s ease;
	     -o-transition: background-color .4s ease;
	        transition: background-color .4s ease;
}

section .button:not(.disabled):hover {
	color: #fff;
	background-color: #777;
	-webkit-transition: background-color .2s ease;
	   -moz-transition: background-color .2s ease;
	    -ms-transition: background-color .2s ease;
	     -o-transition: background-color .2s ease;
	        transition: background-color .2s ease;
}

section .button.disabled {
	background-color: #d9d9d9;
	pointer-events: none;
}

/* Button Icons */

section [class*="icon-"] {
	padding-right: 40px;
}

[class*="icon-"]:before,
[class*="icon-"]:after {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	right: 20px;
}

/* Download */
.icon-download:before {
	height: 8px;
	width: 4px;
	margin-right: 1px;
	margin-top: -5px;
	background-color: #fff;
}

.icon-download:after {
	width: 0;
	height: 0;
	margin-top: 2px;
	margin-right: -2px;
	border-style: solid;
	border-width: 6px 5px 0;
	border-color: #fff transparent transparent;
}

.icon-download:hover:before {
	height: 11px;
	width: 6px;
	margin-top: -7px;
	margin-right: 0px;
}

.icon-download:hover:after {
	border-width: 7px 6px 0;
	margin-right: -3px;
}

/* Demo */
.icon-demo {
	padding-right: 46px;
}

.icon-demo:before {
	width: 14px;
	height: 14px;
	margin: -7px -2px 0 1px;
	background-color: #fff;
	border-radius: 9px 0px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.icon-demo:after {
	width: 4px;
	height: 4px;
	margin: -3px 2px 0 4px;
	background-color: #aaa;
	border: 1px solid #fff;
	box-shadow: 0px 0px 0px 1px #aaa;
	border-radius: 8px;
}

.icon-demo:hover:after {
	margin-right: 0;
	background-color: #777;
	box-shadow: 0px 0px 0px 1px #777;
}

/* Source */
.icon-source:before,
.icon-source:after {
	-webkit-transform: rotate(-26.6deg);
	   -moz-transform: rotate(-26.6deg);
	    -ms-transform: rotate(-26.6deg);
	     -o-transform: rotate(-26.6deg);
	        transform: rotate(-26.6deg);
}

.icon-source:before {
	height: 14px;
	width: 2px;
	margin-top: -6px;
	margin-right: 2px;
	background-color: #fff;
}

.icon-source:after {
	width: 0;
	height: 0;
	margin-top: -8px;
	margin-right: 0;
	border-style: solid;
	border-width: 0 5px 10px;
	border-color: transparent transparent #fff;
}

.icon-source:hover:before {
	margin-top: -7px;
	margin-right: 3px;
}

.icon-source:hover:after {
	margin-top: -9px;
	margin-right: 1px;
}

/* Newer / Older */
.icon-newer:after,
.icon-older:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 30px 15px 0;
	border-color: transparent #fff transparent transparent;
}

.icon-older:after {
	border-width: 15px 0 15px 30px;
	border-color: transparent transparent transparent #fff;
}

#main-header .icon-newer:after {
	top: 8px;
	left: 8px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #888 transparent transparent;
}

#main-header .icon-older:after {
	top: 8px;
	left: 8px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #888;
}

/* Archive */
.icon-archive:before,
.icon-archive:after {
	content: "";
	position: absolute;
	top: 11px;
	left: 10px;
	width: 30px;
	height: 4px;
	border-style: solid;
	border-color: #fff;
	border-width: 4px 0;
}

.icon-archive:after {
	top: 27px;
}

#main-header .icon-archive:before,
#main-header .icon-archive:after {
	border-color: #888;
	width: 18px;
	left: 7px;
	border-width: 3px 0;
	height: 2px;
	top: 7px;
}

#main-header .icon-archive:after {
	top: 17px;
}


/*------------
	Pagination
--------------*/

section .pagination {
	margin: 0;
	padding: 0 0 20px;
}

section .pagination ul {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 0 auto 60px;
	text-align: center;
	padding: 0;
}

section .pagination li {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

section .pagination li .button {
	display: block;
	width: 50px;
	height: 50px;
	padding: 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

section .pagination .newer {
	left: -60px;
}

section .pagination .older {
	left: 60px;
}

section .pagination .archive {
	left: 0;
}


/*-------------
	Error Pages
---------------*/

#error-404 header {
	background-color: #000;
}

#error-404 header:before {
	content: "404";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #222;
	font-size: 300px;
	line-height: 340px;
	font-weight: 400;
	-webkit-transition: color .4s ease;
	   -moz-transition: color .4s ease;
	    -ms-transition: color .4s ease;
	     -o-transition: color .4s ease;
	        transition: color .4s ease;
}

#error-404 header:hover:before {
	color: #fff;
}