/*
 * layout.css
 * Styles elements common to all pages
 * ===================================
 */

.container {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 20px 60px;
}

/* White page fade overlays */
.container:after {
	content: "";
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 40px;
	pointer-events: none;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
	background-image:    -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
	background-image:     -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
	background-image:      -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
	background-image:         linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,.6));
}


/*--------
	Header
----------*/

.main-header {
	position: fixed;
	top: 20px;
	left: auto;
	z-index: 10;
	width: 100px;
	height: 100px;
	margin: 2px;
	-webkit-transition: height 0.2s ease;
	   -moz-transition: height 0.2s ease;
	    -ms-transition: height 0.2s ease;
	     -o-transition: height 0.2s ease;
	        transition: height 0.2s ease;
}

.main-header:hover {
	height: 170px;
}

.main-header h1 {
	margin-bottom: 0;
	font-size: 20px;
	line-height: 22px;
	background-color: #4992ad;
	background-image: url("../images/jb-logo.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 100px auto;
	position: relative;
	z-index:1;
}

.main-header h1 a {
	color: #fff;
	text-transform: uppercase;
	height: 100px;
	padding-top: 48px;
	padding-bottom: 8px;
	display: block;
	padding-left: 8px;
	font-weight: 400;
	overflow: hidden;
	width: 100px;
	opacity: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: opacity 0.2s ease;
	   -moz-transition: opacity 0.2s ease;
	    -ms-transition: opacity 0.2s ease;
	     -o-transition: opacity 0.2s ease;
	        transition: opacity 0.2s ease;
}

/*.main-header:hover h1 a,*/
.main-header h1 a.active {
	opacity: 1 !important;
}


/*------------
	Navigation
--------------*/

.main-header nav {
	position: absolute;
	margin-top: 2px;
	bottom: 0px;
	left: 0;
	z-index: 0;
}

.main-header ul {
	padding: 0;
	margin: 0;
}

.main-header li {
	float: left;
	padding: 0;
	margin: 0 2px 2px 0;
	background-color: #fff;
}

.main-header li:nth-child(3n) {
	margin-right: 0;
}

.main-header li a,
.main-header li span {
	position: relative;
	display: block;
	width: 32px;
	height: 32px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	color: #bbb;
}

.main-header li a {
	opacity: 0.6;
}

.main-header li a:hover {
	opacity: 1;
}

.main-header .button.disabled {
	opacity: 0.2;
}

.main-header .nav-social li,
.main-header .nav-social a {
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-size: 96px auto;
}

.main-header .nav-social a {
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	   -moz-transition: opacity 0.5s ease;
	    -ms-transition: opacity 0.5s ease;
	     -o-transition: opacity 0.5s ease;
	        transition: opacity 0.5s ease;
}

.main-header .nav-social a:hover {
	opacity: 1;
	-webkit-transition: opacity 0.2s ease;
	   -moz-transition: opacity 0.2s ease;
	    -ms-transition: opacity 0.2s ease;
	     -o-transition: opacity 0.2s ease;
	        transition: opacity 0.2s ease;
}

.nav-social .nav-github {
	background-position: 0px -32px;
}
.nav-social .nav-github a {
	background-position: 0px 0px;
}
.nav-social .nav-twitter {
	background-position: -32px -32px;
}
.nav-social .nav-twitter a {
	background-position: -32px 0px;
}
.nav-social .nav-rss {
	background-position: -64px -32px;
}
.nav-social .nav-rss a {
	background-position: -64px 0px;
}

/*--------
	Footer
----------*/

#main-footer {
	clear: left;
	color: #555;
	text-align: center;
	font-size: 0.8em;
}

#main-footer p {
	margin-bottom: 0;
}