/*
 * main-header.css
 * Styles the main header of the site
 * ==================================
 */

.main-header {
  margin: 0 10px 20px;
  width: auto;
  height: 66px;
}

.main-header h1 {
  float: left;
  background-image: url("../images/jb-logo.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #4992ad;
  background-position: 0px 0px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 14px;
}

.main-header h1 a {
  width: 66px;
  height: 66px;
  padding-top: 32px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 8px;
  display: block;
  padding-left: 8px;
  font-weight: 400;
  overflow: hidden;
  opacity: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 0.2s ease;
     -moz-transition: opacity 0.2s ease;
      -ms-transition: opacity 0.2s ease;
       -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}

.main-header h1 a.active {
  opacity: 1 !important;
}

.main-header nav {
  float: right;
  position: static;
  display: block;
  margin-right: 8px;
}




/*------------------------*\
  Portrait iPad and larger
\*------------------------*/
@media only screen and (min-width: 481px) {

  .main-header {
    top: 20px;
    left: auto;
    z-index: 10;
    width: 100px;
    height: 170px;
    position: fixed;
    margin: 2px;
    -webkit-transition: height 0.2s ease;
       -moz-transition: height 0.2s ease;
        -ms-transition: height 0.2s ease;
         -o-transition: height 0.2s ease;
            transition: height 0.2s ease;
  }

  .main-header:hover {
    height: 170px;
  }

  .main-header h1 {
    font-size: 20px;
    line-height: 22px;
  }

  .main-header h1 a {
    height: 100px;
    width: 100px;
    padding-top: 48px;
  }

  .main-header nav {
    position: absolute;
    bottom: 0px;
    left: 0;
    margin-top: 2px;
    margin-right: 0;
    z-index: 0;
  }

}