.main-navigation ul {
  padding: 0;
  margin: 0;
}

.main-navigation li {
  float: left;
  padding: 0;
  margin: 0 2px 2px 0;
  background-color: #fff;
}

.main-navigation li:nth-child(3n) {
  margin-right: 0;
}

/*---------
  Buttons
-----------*/

.main-navigation .button {
  width: 32px;
  height: 32px;
  background-color: #FFF;
}

.main-navigation .button:not(.disabled):hover {
  background-color: #FFF;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
     -moz-transition: opacity 0.2s ease;
      -ms-transition: opacity 0.2s ease;
       -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}

.main-navigation .button.disabled {
  opacity: 0.2;
}



/* Newer/Older Buttons */
.main-header .icon-newer:after {
  top: 8px;
  left: 8px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #888 transparent transparent;
}

.main-header .icon-older:after {
  top: 8px;
  left: 8px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #888;
}



/* Archive Button */
.main-header .icon-archive:before,
.main-header .icon-archive:after {
  border-color: #888;
  width: 18px;
  left: 7px;
  border-width: 3px 0;
  height: 2px;
  top: 7px;
}

.main-header .icon-archive:after {
  top: 17px;
}

