/*
 * media.css
 * Contains media query styles for tablet and phone size screens
 * =============================================================
 */

/*---------------------------
	Portrait iPad and smaller
-----------------------------*/

@media only screen and (max-width: 768px) {

	#container,
	#main-header {
		padding-left: 0;
		padding-right: 0;
	}

	article header {
		height: 330px;
	}

	article header h1 {
		font-size: 1.875em;
		margin-top: 270px;
	}

	article .post-content {
		margin-bottom: 40px;
		padding-bottom: 10px;
		margin-right: 20px;
	}

	#error-404 header:before {
		font-size: 230px;
		line-height: 270px;
	}

}


/*------------------------------
	Landscape iPhone and smaller
--------------------------------*/

@media only screen and (max-width: 480px) {

	#container {
		padding-bottom: 20px;
		padding-top: 10px;
	}

	#container:after {
		display: none;
	}

	#main-header {
		position: static;
		margin-bottom: 20px;
		margin-left: 10px;
		width: auto;
		height: 66px;
	}

	#main-header:hover {
		height: 66px;
	}

	#main-header h1 {
		float: left;
		font-size: 12px;
		line-height: 14px;
		background-size: 66px auto;
	}

	#main-header h1 a {
		width: 66px;
		height: 66px;
		padding-top: 32px;
	}

	#main-header nav {
		float: right;
		position: static;
		display: block;
		margin-top: 0;
		margin-right: 8px;
	}

	.float-left,
	.float-right {
		float: none;
	}

	[class*="col-"] {
		width: auto;
	}

	article header {
		height: 200px;
	}

	article header h1 {
		font-size: 1.875em;
		margin-top: 170px;
		border-left: 0;
	}

	article header h1:before,
	article header h1:after {
		display: none;
	}

	article header h1 a,
	article header h1 span {
		margin-right: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	article header time {
		padding-left: 10px;
		padding-right: 10px;
	}

	article .post-content {
		margin-left: 10px;
		margin-right: 10px;
		text-align: center;
	}

	.pagination ul {
		margin-bottom: 20px;
	}

	#archive li {
		margin-bottom: 1em;
		margin-left: 10px;
	}

	#archive time {
		float: none;
		width: auto;
		font-size: 0.875em;
	}

	#archive time span {
		font-size: 1em;
	}

	#archive h2 {
		font-size: 1.875em;
	}

	#error-404 header:before {
		font-size: 140px;
		line-height: 170px;
	}

}