//
// Nothing should ever find a home in this file
// It is for prototyping only
//



*
  box-sizing border-box




.post-image
  max-width 100%
  width auto
  height auto
  position relative


.main-footer
  clear both


.example
  padding 8em 4em
  background-image url("/assets/generic/images/osx-linen.png")
  background-position -150% 50%
  background-repeat repeat
  margin-bottom 1.5em





.css-plus-bundle
  background-color #101010
  background-image -webkit-linear-gradient(top, rgba(#101010,0.6) 0, rgba(#101010,1) 90%), url("/resource/images/xbg-pattern.png"), url("/assets/css-plus-bundle/images/sublime.png")
  background-image -moz-linear-gradient(top, rgba(#101010,0.6) 0, rgba(#101010,1) 90%), url("/resource/images/xbg-pattern.png"), url("/assets/css-plus-bundle/images/sublime.png")
  background-size auto, auto, cover
  background-position 50% 50%
  background-repeat repeat
  background-attachment scroll, fixed, fixed

.css-iphone-icon
  background-color #0f3c50
  background-image -webkit-linear-gradient(top, rgba(#0f3c50,0.6) 0, rgba(#0f3c50,1) 90%), url("/resource/images/xbg-pattern.png"), url("/assets/css-iphone-icon/images/page-bg.png")
  background-image -moz-linear-gradient(top, rgba(#0f3c50,0.6) 0, rgba(#0f3c50,1) 90%), url("/resource/images/xbg-pattern.png"), url("/assets/css-iphone-icon/images/page-bg.png")
  background-size auto, auto, cover
  background-position 50% 50%
  background-repeat repeat
  background-attachment scroll, fixed, fixed

.multiple-document-windows-in-photoshop
  background-color #eee
  background-image -webkit-linear-gradient(top, rgba(#eee,0.6) 0, rgba(#eee,1) 90%),  url("/resource/images/xbg-pattern.png"), url("/assets/multiple-document-windows-in-photoshop/images/window-large.png"), url("/assets/multiple-document-windows-in-photoshop/images/bg.jpg")
  background-image -moz-linear-gradient(top, rgba(#eee,0.6) 0, rgba(#eee,1) 90%),  url("/resource/images/xbg-pattern.png"), url("/assets/multiple-document-windows-in-photoshop/images/window-large.png"), url("/assets/multiple-document-windows-in-photoshop/images/bg.jpg")
  background-size auto, auto, cover, auto
  background-position 50% 50%
  background-repeat repeat
  background-attachment scroll, fixed, fixed, fixed

.animated-css-progress-bar
  background-color #bde173
  background-image -webkit-linear-gradient(top, rgba(#bde173,0.6) 0, rgba(#bde173,1) 90%), url("/resource/images/xbg-pattern.png"), url("/assets/animated-css-progress-bar/images/bg.png")
  background-image -moz-linear-gradient(top, rgba(#bde173,0.6) 0, rgba(#bde173,1) 90%), url("/resource/images/xbg-pattern.png"), url("/assets/animated-css-progress-bar/images/bg.png")
  background-size auto, auto, cover
  background-position 50% 50%
  background-repeat repeat
  background-attachment scroll, fixed, fixed

.google-maps-template
  background-color #a5c0dd
  background-image -webkit-linear-gradient(top, rgba(#a5c0dd,0.6) 0, rgba(#a5c0dd,1) 90%), url("/resource/images/xbg-pattern.png"), url("/assets/google-maps-template/images/map.gif")
  background-image -moz-linear-gradient(top, rgba(#a5c0dd,0.6) 0, rgba(#a5c0dd,1) 90%), url("/resource/images/xbg-pattern.png"), url("/assets/google-maps-template/images/map.gif")
  background-size auto, auto, cover
  background-position 50% 50%
  background-repeat repeat
  background-attachment scroll, fixed, fixed