$primaryColor = #4992ad;

$b799  = "screen and (max-width: 799px )"
$b800  = "screen and (min-width: 800px )"
$b1000 = "screen and (min-width: 1000px)"
$b1200 = "screen and (min-width: 1200px)"
$b1400 = "screen and (min-width: 1400px)"
$b1600 = "screen and (min-width: 1600px)"
$b1800 = "screen and (min-width: 1800px)"
