.article
  padding 8em 0

  @media $b799
    background-image none !important
    padding 2em 0

  @media $b800
    // background-size 100vw auto !important

  @media $b1200
    // min-height 100vh


.article-title
  padding-top 0
  margin-bottom 0.2em

.article-time
  font-size 0.8em
  color #aaa
  display block
  margin-bottom 2em


.article-content
  background-color #fff
  box-shadow 0 7px 16px -7px rgba(0, 0, 0, 0.4)
  border-radius 1px

  padding 1em

  @media $b800
    // font-size 16px
    padding 2em
  @media $b1000
    // font-size 18px
    padding 3em
  @media $b1200
    // font-size 20px
    padding 4em
  @media $b1600
    // font-size 22px
  @media $b1800
    // font-size 24px