/* OSX Cursors PSD */
.testing-for-pixel-perfection header {
	background-image: url('../images/develop.png'), url('../images/design.jpg');
	background-position: 0% -80%, 100% 20%;
	background-repeat: no-repeat;
	-webkit-transition: background-position .6s ease;
	   -moz-transition: background-position .6s ease;
	    -ms-transition: background-position .6s ease;
	     -o-transition: background-position .6s ease;
	        transition: background-position .6s ease;
}

.testing-for-pixel-perfection header:hover {
	background-position: 50% 50%;
}

@media only screen and (max-width: 480px) {
	.testing-for-pixel-perfection header {
	}
}