.main-header
  position fixed
  background-color #000
  top 0
  left 0
  width 100%
  z-index 1
  height 3em

.site-title
  float left
  margin-bottom 0
  padding-top 0.4em
  font-size 1.5em

.main-navigation
  float right
  margin-left 20px
  ul
    margin-bottom 0
  li
    display inline-block
    margin-left 20px