          <nav class="social-links">
            <ul>
              <li class="social-github">
                <a class="button button-icon" href="https://github.com/jackbrewer" title="GitHub">GitHub</a>
              </li>
              <li class="social-twitter">
                <a class="button button-icon" href="http://twitter.com/jackbrewer" title="Twitter">Twitter</a>
              </li>
              <li class="social-rss">
                <a class="button button-icon" href="http://feeds.feedburner.com/JackBrewer" title="RSS">RSS</a>
              </li>
            </ul>
          </nav>