#css-iphone-icon header {
	background-image: url("../images/iphone-lock.png"), url("../images/iphone-home.png"), url("/assets/generic/images/osx-linen.png");
	background-position: 50% 40%, 160% 40%, 50% 50%;
	background-repeat: no-repeat, no-repeat, repeat;
	background-size: 49px auto, 49px auto, auto;
	-webkit-transition: background-position .6s ease;
	   -moz-transition: background-position .6s ease;
	    -ms-transition: background-position .6s ease;
	     -o-transition: background-position .6s ease;
	        transition: background-position .6s ease;
	-webkit-transition: background-position .6s cubic-bezier(.41,.26,.48,1.14);
	   -moz-transition: background-position .6s cubic-bezier(.41,.26,.48,1.14);
	    -ms-transition: background-position .6s cubic-bezier(.41,.26,.48,1.14);
	     -o-transition: background-position .6s cubic-bezier(.41,.26,.48,1.14);
	        transition: background-position .6s cubic-bezier(.41,.26,.48,1.14);
	-webkit-box-shadow: 0px -20px 100px 50px rgba(0,0,0,.8) inset;
	   -moz-box-shadow: 0px -20px 100px 50px rgba(0,0,0,.8) inset;
	    -ms-box-shadow: 0px -20px 100px 50px rgba(0,0,0,.8) inset;
	     -o-box-shadow: 0px -20px 100px 50px rgba(0,0,0,.8) inset;
	        box-shadow: 0px -20px 100px 50px rgba(0,0,0,.8) inset;
}
#css-iphone-icon:hover header {
	background-position: -60% 40%, 50% 40%, 0% 50%;
}

/* Landscape iPhone and smaller */
@media only screen and (max-width: 480px) {
	#css-iphone-icon header {
		-webkit-box-shadow: 0px -20px 50px 50px rgba(0,0,0,.8) inset;
		   -moz-box-shadow: 0px -20px 50px 50px rgba(0,0,0,.8) inset;
		    -ms-box-shadow: 0px -20px 50px 50px rgba(0,0,0,.8) inset;
		     -o-box-shadow: 0px -20px 50px 50px rgba(0,0,0,.8) inset;
		        box-shadow: 0px -20px 50px 50px rgba(0,0,0,.8) inset;
	}
}