/********************
 *
 * CSS iPhone Concept by Jack Brewer
 *
 * http://github.com/jackbrewer
 *
 ********************/

/*
 * iPhone Body
 */

.iphone {
	position: relative;
	display: block;
	width: 38px;
	height: 71px;
	margin: auto;
	text-indent: -9999px;
	/* Earpiece colour */
	background-color: #555;
	border: 1px solid #bbb;
	border-radius: 5px;
	/* Outer mid-grey sharp border, blurred drop-shadow effect, 2x black inset shadows (no blur) which combine to mask all background-colour other than the earpiece */
	-webkit-box-shadow: 0 0 0 1px #888, 0 3px 5px rgba(0,0,0,.7), 0px -10px 0 15px #111 inset, 0px -49px 0 15px #111 inset;
	   -moz-box-shadow: 0 0 0 1px #888, 0 3px 5px rgba(0,0,0,.7), 0px -10px 0 15px #111 inset, 0px -49px 0 15px #111 inset;
	    -ms-box-shadow: 0 0 0 1px #888, 0 3px 5px rgba(0,0,0,.7), 0px -10px 0 15px #111 inset, 0px -49px 0 15px #111 inset;
	     -o-box-shadow: 0 0 0 1px #888, 0 3px 5px rgba(0,0,0,.7), 0px -10px 0 15px #111 inset, 0px -49px 0 15px #111 inset;
	        box-shadow: 0 0 0 1px #888, 0 3px 5px rgba(0,0,0,.7), 0px -10px 0 15px #111 inset, 0px -49px 0 15px #111 inset;
}

/*
 * Home button
 */

.iphone:before {
	content:"";
	position: absolute;
	left: 16px;
	bottom:4px;
	width: 6px;
	height: 6px;
	background-color: #222;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 0 1px #777 inset;
	   -moz-box-shadow: 0px 0px 0 1px #777 inset;
	    -ms-box-shadow: 0px 0px 0 1px #777 inset;
	     -o-box-shadow: 0px 0px 0 1px #777 inset;
	        box-shadow: 0px 0px 0 1px #777 inset;
}

/*
 * Lock Screen
 */

.iphone:after {
	/* Sets the default time value */
	content:"9:42";
	position: absolute;
	left: 3px;
	top:11px;
	width: 32px;
	height: 48px;

	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 8px;
	line-height: 14px;
	text-align: center;
	text-indent: 0px;
	color: #bbb;

	background-color: #333;

	/* Inner glow around the edge of the screen */
	-webkit-box-shadow: 0px 0px 4px rgba(255,255,255,.3) inset;
	   -moz-box-shadow: 0px 0px 4px rgba(255,255,255,.3) inset;
	    -ms-box-shadow: 0px 0px 4px rgba(255,255,255,.3) inset;
	     -o-box-shadow: 0px 0px 4px rgba(255,255,255,.3) inset;
	        box-shadow: 0px 0px 4px rgba(255,255,255,.3) inset;

	/* This is where it starts getting complicated
	 * The background-image below is responsible for creating:
	 *
	 * Gradient 1: Diagonal screen shine
	 * Gradient 2: Battery level - green box
	 * Gradient 3: Battery background
	 * Gradient 4: Battery tip
	 * Gradient 5: Slide to Unlock bar and button
	 * Gradient 6: General backgrounds - gradients behind status bar, time, battery and lock slider
	 */
	background-image:
	  -webkit-linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	  -webkit-linear-gradient(top, rgb(20,229,20) 3%, rgb(113,251,122) 5%, rgb(35,205,44) 42%, rgb(0,166,6) 43%, rgb(80,246,91) 100%),
	  -webkit-linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	  -webkit-linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	  -webkit-linear-gradient(left, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 25%, rgba(255,255,255,.2) 25%, rgba(255,255,255,.2) 100%),
	  -webkit-linear-gradient(top, #000 0%, #000 5%, #444 5%, #1c1c1c 15%, #000 15%, #000 25%, #aaa 25%, #000 27%, #000 78%, #444 78%, #1c1c1c 88%, #000 88%, #222 100%);
	background-image:
	     -moz-linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	     -moz-linear-gradient(top, rgb(20,229,20) 3%, rgb(113,251,122) 5%, rgb(35,205,44) 42%, rgb(0,166,6) 43%, rgb(80,246,91) 100%),
	     -moz-linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	     -moz-linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	     -moz-linear-gradient(left, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 25%, rgba(255,255,255,.2) 25%, rgba(255,255,255,.2) 100%),
	     -moz-linear-gradient(top, #000 0%, #000 5%, #444 5%, #1c1c1c 15%, #000 15%, #000 25%, #aaa 25%, #000 27%, #000 78%, #444 78%, #1c1c1c 88%, #000 88%, #222 100%);
	background-image:
	      -ms-linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	      -ms-linear-gradient(top, rgb(20,229,20) 3%, rgb(113,251,122) 5%, rgb(35,205,44) 42%, rgb(0,166,6) 43%, rgb(80,246,91) 100%),
	      -ms-linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	      -ms-linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	      -ms-linear-gradient(left, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 25%, rgba(255,255,255,.2) 25%, rgba(255,255,255,.2) 100%),
	      -ms-linear-gradient(top, #000 0%, #000 5%, #444 5%, #1c1c1c 15%, #000 15%, #000 25%, #aaa 25%, #000 27%, #000 78%, #444 78%, #1c1c1c 88%, #000 88%, #222 100%);
	background-image:
	       -o-linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	       -o-linear-gradient(top, rgb(20,229,20) 3%, rgb(113,251,122) 5%, rgb(35,205,44) 42%, rgb(0,166,6) 43%, rgb(80,246,91) 100%),
	       -o-linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	       -o-linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	       -o-linear-gradient(left, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 25%, rgba(255,255,255,.2) 25%, rgba(255,255,255,.2) 100%),
	       -o-linear-gradient(top, #000 0%, #000 5%, #444 5%, #1c1c1c 15%, #000 15%, #000 25%, #aaa 25%, #000 27%, #000 78%, #444 78%, #1c1c1c 88%, #000 88%, #222 100%);
	background-image:
	          linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	          linear-gradient(top, rgb(20,229,20) 3%, rgb(113,251,122) 5%, rgb(35,205,44) 42%, rgb(0,166,6) 43%, rgb(80,246,91) 100%),
	          linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	          linear-gradient(top, rgba(255,255,255,.2) 3%, rgba(255,255,255,.4) 5%, rgba(255,255,255,.2) 42%, rgba(255,255,255,.0) 43%, rgba(255,255,255,.3) 100%),
	          linear-gradient(left, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 25%, rgba(255,255,255,.2) 25%, rgba(255,255,255,.2) 100%),
	          linear-gradient(top, #000 0%, #000 5%, #444 5%, #1c1c1c 15%, #000 15%, #000 25%, #aaa 25%, #000 27%, #000 78%, #444 78%, #1c1c1c 88%, #000 88%, #222 100%);

	background-repeat: no-repeat;
	background-size: auto auto, 12px 7px, 18px 9px, 2px 5px, 24px 4px, auto auto;
	background-position: 0 0, 7px 22px, 6px 21px, 24px 23px, 4px 40px, 0 0;
}

/* Home Screen with App Icons */
.iphone:hover:after {
	content:"";

	/* Inner glow around the edge of the screen, outer glow to simulate light illumination */
	-webkit-box-shadow: 0px 0px 2px #ddd inset, 0px 0px 70px rgba(255,255,255,0.5);
	   -moz-box-shadow: 0px 0px 2px #ddd inset, 0px 0px 70px rgba(255,255,255,0.5);
	    -ms-box-shadow: 0px 0px 2px #ddd inset, 0px 0px 70px rgba(255,255,255,0.5);
	     -o-box-shadow: 0px 0px 2px #ddd inset, 0px 0px 70px rgba(255,255,255,0.5);
	        box-shadow: 0px 0px 2px #ddd inset, 0px 0px 70px rgba(255,255,255,0.5);


	/* Time for some more crazy gradients
	 * The background-image below is responsible for creating:
	 *
	 * Gradient 1: Diagonal screen shine
	 * Gradients 2-5: Four rows of App icons
	 * Gradient 6: Dock App icons
	 * Gradient 7: General background - gradients behind status bar, apps and dock
	 */

	background-image:
	  -webkit-linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	  -webkit-linear-gradient(left, transparent 0%, transparent 10%, #0db400 10%, #0db400 25%, transparent 25%, transparent 30%, #d9d9d9 30%, #d9d9d9 45%, transparent 45%, transparent 55%, #98e1ff 55%, #98e1ff 70%, transparent 70%, transparent 75%, #bfc3c4 75%, #bfc3c4 90%, transparent 90%, transparent 100%),
	  -webkit-linear-gradient(left, transparent 0%, transparent 10%, #b69c79 10%, #b69c79 25%, transparent 25%, transparent 30%, #00a1f3 30%, #00a1f3 45%, transparent 45%, transparent 55%, #e5dbd9 55%, #e5dbd9 70%, transparent 70%, transparent 75%, #ffce12 75%, #ffce12 90%, transparent 90%, transparent 100%),
	  -webkit-linear-gradient(left, transparent 0%, transparent 10%, #f6f1ab 10%, #f6f1ab 25%, transparent 25%, transparent 30%, #536169 30%, #536169 45%, transparent 45%, transparent 55%, #a751b7 55%, #a751b7 70%, transparent 70%, transparent 75%, #0070c3 75%, #0070c3 90%, transparent 90%, transparent 100%),
	  -webkit-linear-gradient(left, transparent 0%, transparent 10%, #f49d4d 10%, #f49d4d 25%, transparent 25%, transparent 30%, #929292 30%, #929292 45%, transparent 45%, transparent 100%),
	  -webkit-linear-gradient(left, transparent 0%, transparent 10%, #0ba600 10%, #0ba600 25%, transparent 25%, transparent 30%, #09aeec 30%, #09aeec 45%, transparent 45%, transparent 55%, #53c6f7 55%, #53c6f7 70%, transparent 70%, transparent 75%, #ff8f00 75%, #ff8f00 90%, transparent 90%, transparent 100%),
	  -webkit-linear-gradient(top, #105056 0%, #105056 5%, #95bec5 5%, #636564 85%, #938e8b 85%, #6f6e6c 100%);
	background-image:
	     -moz-linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	     -moz-linear-gradient(left, transparent 0%, transparent 10%, #0db400 10%, #0db400 25%, transparent 25%, transparent 30%, #d9d9d9 30%, #d9d9d9 45%, transparent 45%, transparent 55%, #98e1ff 55%, #98e1ff 70%, transparent 70%, transparent 75%, #bfc3c4 75%, #bfc3c4 90%, transparent 90%, transparent 100%),
	     -moz-linear-gradient(left, transparent 0%, transparent 10%, #b69c79 10%, #b69c79 25%, transparent 25%, transparent 30%, #00a1f3 30%, #00a1f3 45%, transparent 45%, transparent 55%, #e5dbd9 55%, #e5dbd9 70%, transparent 70%, transparent 75%, #ffce12 75%, #ffce12 90%, transparent 90%, transparent 100%),
	     -moz-linear-gradient(left, transparent 0%, transparent 10%, #f6f1ab 10%, #f6f1ab 25%, transparent 25%, transparent 30%, #536169 30%, #536169 45%, transparent 45%, transparent 55%, #a751b7 55%, #a751b7 70%, transparent 70%, transparent 75%, #0070c3 75%, #0070c3 90%, transparent 90%, transparent 100%),
	     -moz-linear-gradient(left, transparent 0%, transparent 10%, #f49d4d 10%, #f49d4d 25%, transparent 25%, transparent 30%, #929292 30%, #929292 45%, transparent 45%, transparent 100%),
	     -moz-linear-gradient(left, transparent 0%, transparent 10%, #0ba600 10%, #0ba600 25%, transparent 25%, transparent 30%, #09aeec 30%, #09aeec 45%, transparent 45%, transparent 55%, #53c6f7 55%, #53c6f7 70%, transparent 70%, transparent 75%, #ff8f00 75%, #ff8f00 90%, transparent 90%, transparent 100%),
	     -moz-linear-gradient(top, #105056 0%, #105056 5%, #95bec5 5%, #636564 85%, #938e8b 85%, #6f6e6c 100%);
	background-image:
	      -ms-linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	      -ms-linear-gradient(left, transparent 0%, transparent 10%, #0db400 10%, #0db400 25%, transparent 25%, transparent 30%, #d9d9d9 30%, #d9d9d9 45%, transparent 45%, transparent 55%, #98e1ff 55%, #98e1ff 70%, transparent 70%, transparent 75%, #bfc3c4 75%, #bfc3c4 90%, transparent 90%, transparent 100%),
	      -ms-linear-gradient(left, transparent 0%, transparent 10%, #b69c79 10%, #b69c79 25%, transparent 25%, transparent 30%, #00a1f3 30%, #00a1f3 45%, transparent 45%, transparent 55%, #e5dbd9 55%, #e5dbd9 70%, transparent 70%, transparent 75%, #ffce12 75%, #ffce12 90%, transparent 90%, transparent 100%),
	      -ms-linear-gradient(left, transparent 0%, transparent 10%, #f6f1ab 10%, #f6f1ab 25%, transparent 25%, transparent 30%, #536169 30%, #536169 45%, transparent 45%, transparent 55%, #a751b7 55%, #a751b7 70%, transparent 70%, transparent 75%, #0070c3 75%, #0070c3 90%, transparent 90%, transparent 100%),
	      -ms-linear-gradient(left, transparent 0%, transparent 10%, #f49d4d 10%, #f49d4d 25%, transparent 25%, transparent 30%, #929292 30%, #929292 45%, transparent 45%, transparent 100%),
	      -ms-linear-gradient(left, transparent 0%, transparent 10%, #0ba600 10%, #0ba600 25%, transparent 25%, transparent 30%, #09aeec 30%, #09aeec 45%, transparent 45%, transparent 55%, #53c6f7 55%, #53c6f7 70%, transparent 70%, transparent 75%, #ff8f00 75%, #ff8f00 90%, transparent 90%, transparent 100%),
	      -ms-linear-gradient(top, #105056 0%, #105056 5%, #95bec5 5%, #636564 85%, #938e8b 85%, #6f6e6c 100%);
	background-image:
	       -o-linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	       -o-linear-gradient(left, transparent 0%, transparent 10%, #0db400 10%, #0db400 25%, transparent 25%, transparent 30%, #d9d9d9 30%, #d9d9d9 45%, transparent 45%, transparent 55%, #98e1ff 55%, #98e1ff 70%, transparent 70%, transparent 75%, #bfc3c4 75%, #bfc3c4 90%, transparent 90%, transparent 100%),
	       -o-linear-gradient(left, transparent 0%, transparent 10%, #b69c79 10%, #b69c79 25%, transparent 25%, transparent 30%, #00a1f3 30%, #00a1f3 45%, transparent 45%, transparent 55%, #e5dbd9 55%, #e5dbd9 70%, transparent 70%, transparent 75%, #ffce12 75%, #ffce12 90%, transparent 90%, transparent 100%),
	       -o-linear-gradient(left, transparent 0%, transparent 10%, #f6f1ab 10%, #f6f1ab 25%, transparent 25%, transparent 30%, #536169 30%, #536169 45%, transparent 45%, transparent 55%, #a751b7 55%, #a751b7 70%, transparent 70%, transparent 75%, #0070c3 75%, #0070c3 90%, transparent 90%, transparent 100%),
	       -o-linear-gradient(left, transparent 0%, transparent 10%, #f49d4d 10%, #f49d4d 25%, transparent 25%, transparent 30%, #929292 30%, #929292 45%, transparent 45%, transparent 100%),
	       -o-linear-gradient(left, transparent 0%, transparent 10%, #0ba600 10%, #0ba600 25%, transparent 25%, transparent 30%, #09aeec 30%, #09aeec 45%, transparent 45%, transparent 55%, #53c6f7 55%, #53c6f7 70%, transparent 70%, transparent 75%, #ff8f00 75%, #ff8f00 90%, transparent 90%, transparent 100%),
	       -o-linear-gradient(top, #105056 0%, #105056 5%, #95bec5 5%, #636564 85%, #938e8b 85%, #6f6e6c 100%);
	background-image:
	          linear-gradient(-60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.1) 40%, rgba(255,255,255,0) 40.1%),
	          linear-gradient(left, transparent 0%, transparent 10%, #0db400 10%, #0db400 25%, transparent 25%, transparent 30%, #d9d9d9 30%, #d9d9d9 45%, transparent 45%, transparent 55%, #98e1ff 55%, #98e1ff 70%, transparent 70%, transparent 75%, #bfc3c4 75%, #bfc3c4 90%, transparent 90%, transparent 100%),
	          linear-gradient(left, transparent 0%, transparent 10%, #b69c79 10%, #b69c79 25%, transparent 25%, transparent 30%, #00a1f3 30%, #00a1f3 45%, transparent 45%, transparent 55%, #e5dbd9 55%, #e5dbd9 70%, transparent 70%, transparent 75%, #ffce12 75%, #ffce12 90%, transparent 90%, transparent 100%),
	          linear-gradient(left, transparent 0%, transparent 10%, #f6f1ab 10%, #f6f1ab 25%, transparent 25%, transparent 30%, #536169 30%, #536169 45%, transparent 45%, transparent 55%, #a751b7 55%, #a751b7 70%, transparent 70%, transparent 75%, #0070c3 75%, #0070c3 90%, transparent 90%, transparent 100%),
	          linear-gradient(left, transparent 0%, transparent 10%, #f49d4d 10%, #f49d4d 25%, transparent 25%, transparent 30%, #929292 30%, #929292 45%, transparent 45%, transparent 100%),
	          linear-gradient(left, transparent 0%, transparent 10%, #0ba600 10%, #0ba600 25%, transparent 25%, transparent 30%, #09aeec 30%, #09aeec 45%, transparent 45%, transparent 55%, #53c6f7 55%, #53c6f7 70%, transparent 70%, transparent 75%, #ff8f00 75%, #ff8f00 90%, transparent 90%, transparent 100%),
	          linear-gradient(top, #105056 0%, #105056 5%, #95bec5 5%, #636564 85%, #938e8b 85%, #6f6e6c 100%);

	background-repeat: no-repeat;
	background-size: auto auto, 32px 5px, 32px 5px, 32px 5px, 32px 5px, 32px 5px, auto auto;
	background-position: 0 0, 0 5px, 0 13px, 0 21px, 0 29px, 0 39px, 0 0;
}

/* Show a zoomed version */
.iphone.zoom {
	margin-top: 100px;
	margin-bottom: 110px;
	-webkit-transform: scale(3);
	   -moz-transform: scale(3);
	    -ms-transform: scale(3);
	     -o-transform: scale(3);
	        transform: scale(3);
}