<!DOCTYPE html>
<!--[if lt IE 8]><html class="old-ie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

{% include content/head.html %}

  {% if page.section %}<body class={{ page.section }}>{% else%}
  <body>{% endif %}

    <div class="container">

      <!-- Main Header -->
      <header class="main-header">
        <div class="centering">
          <h1 class="site-title"><a href="/">Jack Brewer</a></h1>
          <div class="main-navigation">
  {% include content/pagination.html %}
  {% include content/social-links.html %}
          </div>
        </div>
      </header>

{{ content }}

      <footer class="main-footer">
        <div class="centering">
          <small>&copy; {{ site.time | date: '%Y'}} Jack Brewer / <a href="https://github.com/jackbrewer">GitHub</a> / <a href="https://twitter.com/jackbrewer">Twitter</a></small>
        </div>
      </footer>

      <!-- A TEMPORARY Internet Explorer notice -->
      <!--[if lt IE 9]>
        <p class="ie-notification">Hi Internet Explorer user. I haven't completely forgotten about you but until I get time to hack my lovely site for your outdated browser, things will look a bit strange. If you want to try a better browser, there are <a href="http://browsehappy.com/">lots to choose from</a>. Thanks, Jack.</p>
      <![endif]-->

    </div>

    <!-- jQuery via CDN - local fallback -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>if (typeof jQuery === 'undefined') { document.write('<script src="/resource/js/jquery-1.7.1.js" />'); }</script>

    <!-- General Scripts -->
    <script src="/resource/js/google-code-prettify/prettify.js"></script>
    <script src="/resource/js/google-code-prettify/lang-css.js"></script>
    <script>
      (function(){
        prettyPrint();
      })();
    </script>
    {% if page.section == 'home' and paginator.page == 1 %}<script src="/resource/js/header.js"></script>{% endif %}
    {% if paginator.posts %}{% for post in paginator.posts %}
    {% if post.scripts %}{% for script in post.scripts %}<!-- Post Specific Scripts -->
    <script src="/assets{{post.url}}js/{{script}}"></script>{% endfor %}{% endif %}
    {% if post.extScripts %}{% for extScript in post.extScripts %}<!-- External Post Specific Scripts -->
    <script src="{{extScript}}"></script>{% endfor %}{% endif %}{% endfor %}
    {% elsif page.url %}<!-- Page Specific Script -->{% if page.scripts %}{% for script in page.scripts %}
    <script src="/assets{{page.url}}js/{{script}}"></script>{% endfor %}{% endif %}{% if page.extScripts %}{% for extSript in page.extScripts %}
    <script src="{{extSript}}"></script>{% endfor %}{% endif %}{% endif %}
    <!-- Google Analytics -->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18082762-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- A simple ajax call to a hit counter that lights an arduino LED on my desk -->
    <script>
      // $.ajax('http://downloads.jackbrewer.co.uk/arduino/trigger.php');
    </script>

  </body>
</html>