<!DOCTYPE html>
	<!--[if lt IE 8]><html class="old-ie" lang="en"><![endif]-->
	<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
	<head>

		<!--

		Welcome to my website. If you are reading this then I'm guessing you're curious
		about how things have been done around here. I've tried to keep the source tidy
		and well commented so feel free to poke around.

		If you've got any questions or comments:
		twitter.com/jackbrewer
		github.com/jackbrewer

		Enjoy!
		Jack.

		-->
		{% if page.section == 'home' %}
		<title>Jack Brewer - Perfect pixels and awesome code</title>
		{% elsif page.title %}<title>{{ page.title }} / Jack Brewer</title>{% endif %}
		<meta charset="utf-8" />
		<meta name="description" content="Jack Brewer - Web developer and designer, CSS experimenter." />
		<meta name="keywords"    content="Jack Brewer, web development, web design, CSS3, HTML5" />
		<meta name="author"      content="Jack Brewer - http://jackbrewer.co.uk">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable"          content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="google-site-verification"              content="XWQ7RJmaCzLVmWrBelBdp7M2YRD68DTeSU-tkoPA3Z0" />

		<!-- Quick fix so IE can join the HTML5 party -->
		<script>
			document.createElement('article');
			document.createElement('aside');
			document.createElement('footer');
			document.createElement('header');
			document.createElement('hgroup');
			document.createElement('nav');
			document.createElement('section');
			document.createElement('time');
		</script>

		<link rel="shortcut icon" href="/resource/images/favicon.ico" />
		<link rel="apple-touch-icon-precomposed" href="/resource/images/apple-touch-icon-precomposed.png" />
		<link rel="apple-touch-startup-image" href="/resource/images/apple-startup-640x920.png" sizes="640x920" />

		<!-- CSS -->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="/resource/css/style.css" />
		<!--<![endif]-->
		<!--[if lt IE 8]>
		<link rel="stylesheet" href="/resource/css/minimal.css" />
		<![endif]-->
		<link rel="stylesheet" href="/resource/js/google-code-prettify/prettify.css" />
		{% if paginator.posts %}<!-- Post Specific Styles -->{% for post in paginator.posts %}
		<link rel="stylesheet" href="/assets{{post.url}}css/header.css" />{% if post.stylesheets %}{% for stylesheet in post.stylesheets %}
		<link rel="stylesheet" href="/assets{{post.url}}css/{{stylesheet}}" />{% endfor %}{% endif %}{% if post.extStylesheets %}{% for extStylesheet in post.extStylesheets %}
		<link rel="stylesheet" href="{{ extStylesheet }}" />{% endfor %}{% endif %}{% endfor %}{% elsif page.url %}
		<!-- Page Specific Style -->
		<link rel="stylesheet" href="/assets{{page.url}}css/header.css" />{% if page.stylesheets %}{% for stylesheet in page.stylesheets %}
		<link rel="stylesheet" href="/assets{{page.url}}css/{{stylesheet}}" />{% endfor %}{% endif %}{% endif %}{% if page.extStylesheets %}{% for extStylesheet in page.extStylesheets %}
		<link rel="stylesheet" href="{{ extStylesheet }}" />{% endfor %}{% endif %}
		<!-- Google Fonts API -->
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

	</head>{% if page.section %}
	<body class={{ page.section }}>{% else%}
	<body>{% endif %}

		<div id="container">

			<!-- Header -->
			<header id="main-header">
				<h1><a href="/">Jack Brewer</a></h1>
				<nav>
{% include content/pagination.html %}
					<ul class="nav-social">
						<li class="nav-github"><a href="https://github.com/jackbrewer" title="GitHub">GitHub</a></li>
						<li class="nav-twitter"><a href="http://twitter.com/jackbrewer" title="Twitter">Twitter</a></li>
						<li class="nav-rss"><a href="http://feeds.feedburner.com/JackBrewer" title="RSS">RSS</a></li>
					</ul>
				</nav>
			</header>

{{ content }}

			<footer id="main-footer">
				<p>&copy; {{ site.time | date: '%Y'}} Jack Brewer / <a href="https://github.com/jackbrewer">GitHub</a> / <a href="https://twitter.com/jackbrewer">Twitter</a></p>
			</footer>

			<!-- A TEMPORARY Internet Explorer notice -->
			<!--[if lt IE 9]>
				<p class="ie-notification">Hi Internet Explorer user. I haven't completely forgotten about you but until I get time to hack my lovely site for your outdated browser, things will look a bit strange. If you want to try a better browser, there are <a href="http://browsehappy.com/">lots to choose from</a>. Thanks, Jack.</p>
			<![endif]-->

		</div>

		<!-- jQuery via CDN - local fallback -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script>if (typeof jQuery === 'undefined') { document.write('<script src="/resource/js/jquery-1.7.1.js" />'); }</script>

		<!-- General Scripts -->
		<script src="/resource/js/google-code-prettify/prettify.js"></script>
		<script src="/resource/js/google-code-prettify/lang-css.js"></script>
		<script>
			(function(){
				prettyPrint();
			})();
		</script>
		{% if page.section == 'home' and paginator.page == 1 %}<script src="/resource/js/header.js"></script>{% endif %}
		{% if paginator.posts %}{% for post in paginator.posts %}
		{% if post.scripts %}{% for script in post.scripts %}<!-- Post Specific Scripts -->
		<script src="/assets{{post.url}}js/{{script}}"></script>{% endfor %}{% endif %}
		{% if post.extScripts %}{% for extScript in post.extScripts %}<!-- External Post Specific Scripts -->
		<script src="{{extScript}}"></script>{% endfor %}{% endif %}{% endfor %}
		{% elsif page.url %}<!-- Page Specific Script -->{% if page.scripts %}{% for script in page.scripts %}
		<script src="/assets{{page.url}}js/{{script}}"></script>{% endfor %}{% endif %}{% if page.extScripts %}{% for extSript in page.extScripts %}
		<script src="{{extSript}}"></script>{% endfor %}{% endif %}{% endif %}
		<!-- Google Analytics -->
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-18082762-1']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

		<!-- A simple ajax call to a hit counter that lights an arduino LED on my desk -->
		<script>
			$.ajax('http://downloads.jackbrewer.co.uk/arduino/trigger.php');
		</script>

	</body>
</html>