/* OSX Cursors PSD */
#osx-cursors-psd header {
	position: relative;
	background-image: url('../images/bg.png');
	background-repeat: repeat;
	background-position: -200% 40%;
	-webkit-transition: background-position 0.3s ease;
	   -moz-transition: background-position 0.3s ease;
	    -ms-transition: background-position 0.3s ease;
	     -o-transition: background-position 0.3s ease;
	        transition: background-position 0.3s ease;
}
#osx-cursors-psd:hover header {
	background-position: -260% 70%;
}

#osx-cursors-psd header:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 32%;
	height: 192px;
	width: 136px;
	margin-left: -68px;
	margin-top: -96px;
	background-image: url("../images/cursors-large.png");
	background-position: -136px 0px;
	background-repeat: no-repeat;
}

#osx-cursors-psd:hover header:after {
	background-position: 0px 0px;
}


@media only screen and (max-width: 480px) {
	#osx-cursors-psd header {
		background-size: 416px auto;
	}
	#osx-cursors-psd header:after {
		background-size: 128px auto;
		background-position: -68px 0px;
		height: 96px;
		width: 68px;
		margin-top: -40px;
	}
}